.form_box__style {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  /* margin: 8px 0; */
}
.form_box__style input {
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
 padding: 0;
  /* margin-left: 2%; */
  padding-top: 5%;
  color: white;
}
.form_botttom_line{
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 30%;
    margin-left: 5%;
}
.form-last-fields{
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 65%; 
    margin-left: 5%;
}
/* .form_box_lastfields{} */
.form_heading {
  font-family: Azonix;
  display: flex;
  justify-content: center;
  color: white;
  /* font-weight: bold; */
}

.form-style {
  padding-left: 6%;
  padding-bottom: 3%;
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  color: white;
  border: 1px solid #a0a6ad;
  height: 25px;
  width: 100px;
  border-radius: 30px;
  font-size: 16px;
  padding-bottom: 3%;
  background-color: transparent;
}
.form_p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 13px;
}
.form-section-style {
  padding-top: 2%;
  color: white;
}
.form_background-color {
    background-image: linear-gradient(#000000, #181717);}
.form_button__style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-bottom: 3%;
}
.red-text2 svg {
  margin-left: 10px;
}
.red-text2 button {
  border: 0ch;
  color: white;
  background-color: transparent;
  height: 40px;
  width: 120px;
  border-radius: 20px;
}
.form_fields_style{
    display: flex;

    /* justify-content: space-evenly; */
}
.whole_form__style{
    margin-left: 14%;
}

@media only screen and (max-width: 900px) {
  .form-style {
    padding-left: 4%;
    padding-bottom: 6%;
  }
  .form_heading{
    padding-bottom: 2%;
  }
}

@media only screen and (max-width: 500px) {




  .form_box__style input {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 0;
    /* margin-left: 2%; */
    padding-top: 5%;
    color: white;
}

.form_p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding-bottom: 2%;
}


.form_box__style {
    overflow: hidden;
    font-size: 20px;
    padding: 2px 0px;
    margin: 8px 0;
}

}
/* @media only screen and (max-width: 2700px) {

  .whole_form__style{
    margin-left: 30%;
}
  
} */