.carousel-style{

    padding-top: 2%;
    border-radius: 12px;
    /* border-bottom-left-radius: 12px; */
    /* border-radius: 100px 100px 100px 100px; */
    /* height: 500px; */
    /* margin-bottom: 60px; */
    /* margin-top: 40px; */
    /* margin-left: 200px; */
    /* margin-right: 200px; */
}
.slider-carousel-heading{
  
    justify-content: center;
    display: flex;
    font-family: Azonix;
    color: white;
    padding-top: 6%;
}
.image-height{
    height: 500px;
    /* border-radius: 10px; */
    background-color: black;
}
.carousel-inner{
    border-radius: 20px;

}






@media only screen and (max-width: 900px) {
  .image-height{
      height: 300px;

  }
  .slider-carousel-heading{
      margin-bottom: 2%;
      margin-top: 1%;
  }
  }